ul {
    list-style-type: none;
    margin: 5px;
    padding: 0;
  }
  header {
    background-color: purple;
  }
  #right-align {
    display: inline-flex;
  }
  .header {
    display: flex;
    margin: 5px;
    width: 100%;
    justify-content: space-between;
  }
  li {
    display: inline;
    width: 50px;
    text-decoration: none;
    flex: 1;
    border: solid black;
  }

  .fill-remaining-space {
    flex: auto;
  }
  .navbar-title {
    margin: 5px;
  }
  .phone-number {
    margin: 5px;
    text-align: right;
  }
  .left-section-main {
      display: inline-flex;
      align-content: stretch;
  }
  article {
      display: inline-flex;
      justify-content: space-between;
  }
  .right-section-article {
      background: green;
      position: right;
      margin: 5px;
  }
  .left-section-article {
      background-color: aqua;
      position: left;
      margin: 5px;
  }
  main {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    align-content: stretch;
  }
  .right-section-main {
      background-color: blueviolet;
      margin: 5px;
  }
  footer {
    display: inline-flex;
    justify-content: space-between;
    background-color: lawngreen;
    width: 100%;
  }
  .right-footer-section {
    display: inline-flex;
  }
  body {
      width: 50%;
  }